{% extends 'base.html' %}
{% load easy_mask %}
{% block conteudo %}
<h3 class="pb-2 mb-0 text-primary">Diaristas</h3>
<h5 class="pb-4 mb-0 fw-light">Visão geral das diaristas cadastradas</h5>
<div class="my-3 p-3 bg-body rounded shadow-sm">
    <div class="my-3 p-3 table-responsive">
        <table class="table align-middle">
            <thead>
            <tr>
                <th>#</th>
                <th>Nome</th>
                <th>Email</th>
                <th>Cidade</th>
                <th>Estado</th>
                <th>Ações</th>
            </tr>
            </thead>
            <tbody>
            {% for diarista in diaristas %}
            <tr>
                <td>{{diarista.id}}</td>
                <td>{{diarista.nome_completo}}</td>
                <td>{{diarista.email}}</td>
                <td>{{diarista.cidade}}</td>
                <td>{{diarista.estado}}</td>
                <td>
                    <a href="{% url 'editar_diarista' diarista.id %}" data-bs-toggle="tooltip" title="Editar">
                        <i data-feather="edit"></i>
                    </a>
                    <a href="{% url 'remover_diarista' diarista.id %}" data-bs-toggle="tooltip" title="Remover">
                        <i data-feather="trash-2"> </i>
                    </a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="py-4 d-grid col-2">
        <a href="{% url 'cadastrar_diarista' %}" class="btn btn-primary">Novo</a>
    </div>
</div>
{% endblock conteudo %}